.Login_Main_div {
  text-align: center !important;
  width: 400px;
  margin: auto;
}
.form_width {
  height: auto !important;
  width: 400px;
  border-radius: 8px;
  margin-top: 30px;
}

.main_padding_top_bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.Login_page_button {
  width: 100%;
  background-color: #0d4580 !important;
  color: #fff !important;
  display: inline-block;
  font-size: 16px;
  padding: 8px 25px;
  text-align: center;
  text-transform: capitalize !important;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none !important;
  text-decoration: none !important;
}

.Login_in {
  color: #fd7114;
  cursor: pointer;
  font-weight: 500;
}
.Login_in:hover {
  color: #ff5c00;
}

.MuiCard-root {
  overflow: visible !important;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .Login_Main_div {
    text-align: center !important;
    width: 350px;
    margin: auto;
  }
  .form_width {
    height: auto !important;
    width: 350px;
    border-radius: 8px;
    margin-top: 30px;
  }

}
